
<button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal999-option" class="btn btn-default">地図を表示する</button>

<div class="modal fade" id="modal999-option" tabindex="-1" role="dialog" aria-labelledby="myModalOptionLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalOptionLabel">
          <%= @spot.spot_name %><br>
          <%= @spot.spot_address %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
    		<div class="maps">
    		  <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= @spot.spot_address%>" class="googlemap"></iframe>
    		</div>
    	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>