<div class="header_container">
	<div class ="header_logo">
	</div>
<div id="sp-menu">
      <h1>MENU</h1>
      <ul>
        <li></li>
        <li><a href="#">MENU2</a></li>
        <li><a href="#">MENU3</a></li>
        <li><a href="#">MENU4</a></li>
        <li><a href="#">MENU5</a></li>
      </ul>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</div>