<div class="user_comments" id='shops'>
    <%= render partial: "show", collections:  "@comments" %>
</div>
<div class="page-load-status">
  <div class="infinit-scroll-request">
    <%= image_tag '25.gif'%>
    <%= paginate @comments %>
  </div>
  <p class="infinite-scroll-last">last</p>
  <p class="infinite-scroll-error">error</p>
</div>
  <!-- 評価された星を表示する記述 -->
<script>
  $('.rated').raty({
    path: '/images/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>