// Place all the styles related to the seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.season_container{
	width:100%;
	background-image: url(/images/sakura_back.jpg);
	height:3000px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: cover;
}
.season_top{
	width:100%;
	height:1000px;
}
.season_bottom{
	width:80%;
	height:2000px;
	margin:0 auto;
	padding:30px 20px;
	background-color: white;
}
.spot.content{
	width:100%;
}
.region{
    margin:30px auto;
    text-align: center;
}
.kantou{
	margin:30px auto;
	width:35%;
	height:500px;
	position:relative;
}
.map{

}
.gunma{
	padding:10px;
	position:absolute;
	top:85px;
	left:90px;
}
.tokyo{
	padding:10px;
	position:absolute;
	top:225px;
	left:160px;
}
.kanagawa{
	padding:10px;
	position:absolute;
	top:265px;
	left:154px;
}
.chiba{
	padding:10px;
	position:absolute;
	top:255px;
	left:290px;
}
.saitama{
	padding:10px;
	position:absolute;
	top:180px;
	left:160px;
}
.ibaraki{
	padding:10px;
	position:absolute;
	top:130px;
	left:310px;
}
.tochigi{
	padding:10px;
	position:absolute;
	top:80px;
	left:220px;
}
