// Place all the styles related to the seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spots{
	// margin-top:100px;
	width:100%;
	background-color:yellow;
	height:300px;
}