@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ▼ヘッダーの記述▼
.header_container{
  width: 100%;
  height: 100px;
  background-color:white;
  position: fixed;
  top: 0;
}

#sp-menu h1{
  text-align: center;
  margin: 50px 0;
}

.box{
  height: 300px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 50px;
  background-color: #eee;
}

/* ---------------------------- */
/* --- ハンバーガーメニュー --- */
/* ---------------------------- */

#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  margin-right: 20px;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
　background-color: #fff;
}

/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}

#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

// ▲ヘッダーの記述▲
// ▼トップページの記述▼

.tp{
  width:25%;
  float:left;
  height:800px;
}

.top_image1{
  background-image:url(/images/sakura.jpg);
  background-size:auto 100%;
  background-position: center;
}
.top_image2{
  background-image:url(/images/sougen.jpg);
  background-size:auto 100%;
  background-position: right;
}
.top_image3{
  background-image:url(/images/kouyou2.jpg);
  background-size:auto 100%;
  background-position: center;
}
.top_image4{
  background-image:url(/images/yuki.jpg);
  background-size:auto 100%;
  background-position: right;
}

// ▲トップページの記述▲
//▼スポットの詳細ページ▼
.show{
  margin-top:120px;
}
.spot_container{
  width:100%;
  display: flex;
  flex-direction: row;
}
.spot_content{
  width:45%;
  height:500px;
  border:1px solid black;
  line-height: 230%;
  padding:20px 50px;
}
.spot_images{
  width:55%;
  height:500px;
  background-color: yellow;
}
.spot_image{
  width:100%;
  height:500px;
}
.spot_name{
  padding:30px 0;
}
.description{
  width:80%;
  padding:50px 10px;
  background-color: #FFE4E1;
  color:black;
  border-radius: 10px;
  margin-top: 30px;
}
.show_bottom{
  width:100%;
  margin-top:30px;
  border-top:1px solid black;
  display:flex;
}
.show_bottom_left{
  width:45%;
  height:600px;
  // background-color: green;
  margin-top:30px;
}
.show_bottom_right{
  width:50%;
  height:600px;
  // background-color: yellow;
  margin-top:30px;
}


//▲スポットの詳細ページ▲
