// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage_container{
	width:100%;
	display:flex;
	padding:0 7%;
	margin-top: 100px;
}
.mypage_left{
	width:30%;
	height:1000px;
	padding:5px 15px;
	// background-color: black;
}
.follow_edit{
	margin:15px 0;
}
.mypage_discription{
	width:70%;
	margin:15px auto;
	border:2px solid #D7D2D2;
	text-align:center;
	background-image:url(/images/koshi.jpg);
	padding:10px;
}
.discription_title,.discription_content{
	width:100%;
	border-bottom:solid 1px white;
}
.discription_title{
	padding:7px;
	background-color: rgba(255,255,255,0.7);
	border-radius:3px;
}
.discription_title h4{
	font-size: 16px;
}
.discription_subtitle{
	width:100%;
	padding:7px 0;
	border-bottom:dotted 1px #D7D2D2;
}
.discription_content{
	padding:7px 0;
	border:solid 2px #D7D2D2;
}
.mypage_right{
	width:70%;
	height:1000px;
	// background-color: orange;
}
.profile_image{
	width:200px;
	height:200px;
	border-radius:100px;
	margin-bottom:20px;
}
.user_profile{
	width:50%;
	margin:0 auto;
	text-align: center;
}
// ▼フォロータブの記述▼
.following{
	width:100%;
	padding:30px 20px;
	display:flex;
	justify-content: space-between;
  	flex-wrap: wrap;
	background-color: white;
}
.follow_image{
	width:80px;
	height:80px;
	border-radius: 40px;
}
.follow_user{
	width:48%;
	border:1px solid #DCD4D4;
	display:flex;
	margin:10px 0;
	padding:10px;
}
.follow_user_left{
	width:30%;
}
.follow_user_right{
	width:70%;
}
.follow_btn{
	float:right;
}
.follow_user_introduction{
	margin-top:5px;
	padding:5px;
	border-top:1px solid #DCD4D4;
}
.user_comments{
	padding:18px;
}
.user_favorite{
	width:100%;
	padding:18px;
}
.favorite_spot{
	width:100%;
	height:730px;
	display:flex;
	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: space-between;
}
.favorite{
	width:30%;
	border:1px solid #DCD4D4;
	padding:10px;
}
.favorite_spot_image{
	width:100%;
	height:200px;
}

.favorite_top{
	width:100%;
	height:220px;
}
.favorite p{
	font-size:13px;
}
.favorite_center{
	width:100%;
	height:40px;
	display:flex;
	padding:15px;
}
.favorite_bottom{
	width:100%;
	margin:10px auto;
	height:40px;
	text-align: center;
}
.rated2{
	padding-left: 20px;
}
.comment_spot{
	padding-bottom:5px;
}
.comment_spot p{
	font-size:13px;
}
// ▲フォロータブの記述▲
// ▼管理者ページのスポット一覧の記述▼
.admin_spot_table{
	width:100%;
	border:1px solid #D7D2D2;
}

.admin_spots{
	width:100%;
}
.admin_spot_image{
	width:100%;
	height:110px;
}

.admin_spot_item{
	display:flex;
	width:100%;
	height:150px;
	border-bottom:1px solid #D7D2D2;
}
.spot_image_btn{
	width:20%;
}
.edit_destroy{
	padding:5px;
	display:flex;
	justify-content: space-around;
}
.spot_season{
	width:5%;
	text-align:center;
	border-right:1px solid #D7D2D2;
	border-left:1px solid #D7D2D2;
}
.center_item{
	line-height:150px;
}
.spot_prefecture_address{
	width:25%;
}
.spot_description{
	width:40%;
	padding:3px;
	border-right:1px solid #D7D2D2;
	border-left:1px solid #D7D2D2;
}
.spot_average_star{
	width:10%;
	text-align:center;
}
.admin_spot_item_title{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	display:flex;
	border-bottom:1px solid #D7D2D2;
}
.spot_prefecture{
	width:100%;
	height:50px;
	border-bottom:1px dotted #D7D2D2;
}
.spot_spot_address{
	width:100%;
	height:100px;
}
// ▲管理者ページのスポット一覧の記述▲
// ▼管理者ページのユーザー一覧の記述▼
.admin_user_item{
	width:100%;
	display:flex;
	height:150px;
	border-bottom:1px solid #D7D2D2;
}
.admin_user_image{
	width:15%;
	margin:0 auto;
	text-align:center;
}
.admin_user_image_photo{
	width:100%;
	height:110px;
	margin:0 auto;
	border-bottom:1px solid #D7D2D2;
}
.admin_user_photo{
	width:100px;
	height:100px;
	border-radius:50%;
	margin-top:5px;
}
.admin_user_name{
	width:15%;
	border-right:1px solid #D7D2D2;
	border-left:1px solid #D7D2D2;
}
.user_lastname_firstname{
	border-bottom:1px dotted #D7D2D2;
	height:60px;
}
.admin_user_namekana{
	height:60px;
}
.admin_user_nickname{
	width:15%;
}
.admin_user_address{
	width:15%;
	border-right:1px solid #D7D2D2;
	border-left:1px solid #D7D2D2;
}
.admin_address_postal{
	border-bottom:1px dotted #D7D2D2;
	height:60px;
}
.admin_user_email{
	width:10%;
}
.admin_user_introduction{
	padding:3px;
	width:20%;
	border-right:1px solid #D7D2D2;
	border-left:1px solid #D7D2D2;
}
.admin_user_created_at{
	width:10%;
	text-align:center;
}
// ▲管理者ページのユーザー一覧の記述▲














